{% assign pages = site.pages  %}
{% query recent_pages from pages %}
{
  "where": {
    "template_name_eq": "blog-page",
    "full_path_not_eq": "{{ page.path }}"
  },
  "order_by": "-created_at",
  "limit": 3
}
{% endquery %}
{% query related_pages from pages %}
{
  "q": "{{ page.settings.title }}",
  "where": {
    "template_name_eq": "blog-page",
    "full_path_not_eq": "{{ page.path }}"
  },
  "limit": 3
}
{% endquery %}

<section>
  <section class="relative py-32 w-full bg-center bg-no-repeat bg-cover lg:py-44"
    style="background-image: url('{{ page.parent.settings.bg_image }}');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container relative">
      <div class="grid grid-cols-1 mt-10 text-center">
        <h3 class="mb-3 text-2xl font-medium tracking-wide leading-snug text-white md:text-3xl md:leading-snug">
          {{ page.settings.title }}
        </h3>
        <ul class="mt-6 list-none">
          <li class="inline-block mx-5 text-white/50"> <span class="block text-white">作者 :</span> <span
              class="block"> {{ page.author.name }} </span></li>
          <li class="inline-block mx-5 text-white/50"> <span class="block text-white">日期 :</span> <span class="block">
              {{ page.published_at | date: "%B %d, %Y" }} </span></li>
          <li class="inline-block mx-5 text-white/50"> <span class="block text-white">预估阅读时间 :</span> <span class="block">
              {{ page.settings.reading_time }} </span></li>
        </ul>
      </div>
    </div>
  </section>
  <div class="relative">
    <div class="overflow-hidden text-white shape z-1 dark:text-slate-900" style="position: absolute;
    inset-inline-end: 0px;
    bottom: -1px;
    inset-inline-start: 0px;">
      <svg viewBox="0 0 2880 48" fill="none" style="height: auto;
        width: 100%;
        transform: scale(2);
        transform-origin: top center" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <section class="py-16 md:py-24">
    <div class="container">
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-12 md:grid-cols-2">
        <div class="order-2 lg:col-span-8 md:order-1">
          <div class="overflow-hidden relative card">
            {% if page.settings.thumb_image_url %}
            <img alt="" src="{{ page.settings.thumb_image_url }}">
            {% endif %}
            <div class="p-6 ProseMirror prose sm:prose-base lg:prose-lg focus:outline-none">
              {{ page.settings.content }}
            </div>
          </div>
        </div>
        <div class="order-1 lg:col-span-4 md:order-2">
          <div class="sticky top-20 p-6 shadow-md card">
            <form>
              <div><label for="searchname" class="font-semibold"> 搜索博客 </label>
                <div class="relative mt-2"><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                    stroke-linecap="round" stroke-linejoin="round" class="absolute top-[10px] start-3 size-5"
                    height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg><input id="searchname" class="px-3 py-2 input" placeholder="Search" type="text" name="search">
                </div>
              </div>
            </form>
            <div class="mt-6">
              <h5 class="font-semibold">最近的文章</h5>
              {% for page in recent_pages %}
                <div class="flex items-center mt-4">
                  {% if page.settings.thumb_image_url %}
                    <img class="object-cover object-center h-16 rounded-md shadow duration-500 group-hover:scale-105 aspect-video" alt=""
                      src="{{ page.settings.thumb_image_url }}">
                  {% endif %}
                  <div class="ms-3"><a class="font-medium hover:text-primary" href="{{ page.path }}"
                      data-discover="true">{{ page.settings.title }}</a>
                    <p class="text-sm text-base-content/40">{{ page.published_at | date: "%Y-%m-%d" }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container relative mt-16 md:mt-24">
      <div class="grid grid-cols-1 pb-6 text-center">
        <h4 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal"> 相关文章 </h4>
        <p class="mx-auto max-w-xl text-base-content/40">探索更多相关内容，发现更多精彩文章，继续您的阅读之旅。</p>
      </div>
      <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-3 md:grid-cols-2">
        {% for page in related_pages %}
          {% render 'blog/card', page: page %}
        {% endfor %}
      </div>
    </div>
  </section>
</section>

{% schema %}
{
"name": "t:schema.templates.blog-page.name",
"description": "t:schema.templates.blog-page.description",
"thumb_url": "images/theme/page.png",
"sub_page_templates": ["blog-page"],
"settings": [
{
"id": "title",
"type": "text",
"placeholder": "",
"label": "t:schema.templates.blog-page.settings.title.label",
"info": "t:schema.templates.blog-page.settings.title.info"
},
{
"id": "reading_time",
"type": "text",
"label": "t:schema.templates.blog-page.settings.reading_time.label",
"info": "t:schema.templates.blog-page.settings.reading_time.info"
},
{
"id": "description",
"type": "textarea",
"label": "t:schema.templates.blog-page.settings.description.label"
},
{
"id": "tags",
"type": "tag_picker",
"multiple": true,
"label": "t:schema.templates.blog-page.settings.tags.label"
},
{
"id": "thumb_image_url",
"type": "image_picker",
"ratio": "4:1",
"width": 640,
"label": "t:schema.templates.blog-page.settings.thumb_image_url.label"
},
{
"id": "content",
"type": "richtext",
"label": "t:schema.templates.blog-page.settings.content.label"
}
]
}
{% endschema %}
