<section class="overflow-hidden relative py-36 md:py-44">
  <div class="container relative mt-6 md:mt-16">
    <div class="grid grid-cols-1 gap-6 items-center lg:grid-cols-12 md:grid-cols-2">
      <div class="lg:col-span-7">
        <h6 class="mb-3 font-semibold text-yellow-500 uppercase">90% Satisfaction Guarantee</h6>
        <h1 class="mb-5 text-4xl font-bold tracking-wide leading-normal lg:leading-normal lg:text-5xl">Learn
          Product Design <br> in <span
            class="text-transparent bg-clip-text bg-gradient-to-l from-secondary to-primary">16
            weeks</span></h1>
        <p class="max-w-xl text-lg text-slate-400">Discover a world of knowledge and opportunities with our
          online education platform pursue a new career.</p>
        <div class="mt-6"><a
            class="inline-flex justify-center items-center px-6 h-10 font-medium tracking-wide text-white rounded-md bg-primary"
            href="/index-five" data-discover="true">Explore Courses <i
              class="align-middle ri-arrow-right-line ms-1"></i></a><a
            class="inline-flex justify-center items-center text-base tracking-wide text-center align-middle rounded-full duration-500 size-10 bg-primary/10 hover:bg-primary text-primary hover:text-white ms-1 lightbox"
            href="/index-five#!" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
              viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4" height="1em"
              width="1em" xmlns="http://www.w3.org/2000/svg">
              <polygon points="23 7 16 12 23 17 23 7"></polygon>
              <rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect>
            </svg></a><span class="font-medium align-middle text-base-content/50 ms-1"> Watch
            Now</span></div>
      </div>
      <div class="lg:col-span-5">
        <div class="grid grid-cols-2 gap-6">
          <div class="relative md:shrink-0">
            <img
              class="object-cover shadow xl:size-56 lg:size-44 md:size-40 size-44 shadow-base-200 rounded-s-full"
              alt="" src="{{ 'images/demos/1.jpg' | asset_url }}" >
              <img src="{{ "images/demos/video/avatar-01.jpg" | asset_url }}">
            <div
              class="overflow-hidden after:content-[''] after:absolute after:size-12 after:bg-secondary after:top-0 after:-start-6 after:-z-1 after:rounded-full">
            </div>
          </div>
          <div class="relative md:shrink-0"><img
              class="object-cover rounded-full shadow xl:size-56 lg:size-44 md:size-40 size-44 shadow-base-200"
              alt="" src="{{ 'images/demos/1.jpg' | asset_url }}">
            <div
              class="overflow-hidden after:content-[''] after:absolute after:size-24 after:bg-primary/40 after:-top-10 after:-end-0 after:-z-1 after:rounded-lg after:rotate-[36deg]">
            </div>
          </div>
          <div class="relative md:shrink-0"><img
              class="object-cover rounded-xl shadow xl:size-56 lg:size-44 md:size-40 size-44 shadow-base-200"
              alt="" src="{{ 'images/demos/video/3-DCQogip7.jpg' | asset_url }}">
            <div
              class="overflow-hidden after:content-[''] after:absolute after:size-40 after:bg-yellow-400 after:-bottom-10 after:-start-10 after:-z-1 after:rounded-full">
            </div>
          </div>
          <div class="relative md:shrink-0"><img
              class="object-cover shadow xl:size-56 lg:size-44 md:size-40 size-44 shadow-base-200 rounded-e-full"
              alt="" src="{{ 'images/demos/video/4-HDGskMOh.jpg' | asset_url }}">
            <div
              class="overflow-hidden after:content-[''] after:absolute after:size-6 after:bg-primary/60 after:bottom-10 after:-end-12 after:-z-1 after:rounded-md">
            </div>
            <div
              class="overflow-hidden after:content-[''] after:absolute after:size-6 after:bg-secondary/60 after:-bottom-12 after:start-10 after:-z-1 after:rounded-full">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="relative py-12 bg-primary">
  <div class="container relative">
    <div class="grid grid-cols-1 justify-center text-center lg:grid-cols-12 md:text-start">
      <div class="lg:col-start-2 lg:col-span-10">
        <div class="grid grid-cols-2 gap-6 items-center md:grid-cols-4 sm:grid-cols-2">
          <div class="text-center counter-box">
            <h1 class="mb-2 text-3xl font-semibold text-white lg:text-4xl"><span>1,548</span>+</h1>
            <h5 class="font-medium text-white uppercase counter-head">Courses</h5>
          </div>
          <div class="text-center counter-box">
            <h1 class="mb-2 text-3xl font-semibold text-white lg:text-4xl"><span>12</span>+</h1>
            <h5 class="font-medium text-white uppercase counter-head">Countries</h5>
          </div>
          <div class="text-center counter-box">
            <h1 class="mb-2 text-3xl font-semibold text-white lg:text-4xl"><span>500</span>K</h1>
            <h5 class="font-medium text-white uppercase counter-head">Students</h5>
          </div>
          <div class="text-center counter-box">
            <h1 class="mb-2 text-3xl font-semibold text-white lg:text-4xl"><span>80</span>+</h1>
            <h5 class="font-medium text-white uppercase counter-head">Instructors</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="relative py-16 md:py-24">
  <div class="container relative">
    <div class="grid grid-cols-1 pb-6 text-center">
      <h4 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">Explore Our Best Courses</h4>
      <p class="mx-auto max-w-xl text-slate-400">Discover a world of knowledge and opportunities with our online
        education platform pursue a new career.</p>
    </div>
    <div class="grid gap-6 mt-6 lg:grid-cols-2">
      <div
        class="mx-auto w-full rounded-md shadow-md transition duration-500 group bg-base-100 hover:shadow-lg shadow-base-200">
        <div class="md:flex">
          <div class="relative p-3 pb-0 md:pe-0 md:pb-3 md:shrink-0"><img
              class="object-cover rounded-md size-full md:w-48" alt=""
              src="{{ 'images/demos/video/1-BE2oHx08.jpg' | asset_url }}">
            <div class="absolute top-6 start-6"><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Free</span><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Event</span></div>
            <div class="absolute -bottom-5 md:bottom-5 md:-end-5 end-6"><span
                class="flex justify-center items-center font-semibold text-white rounded-full shadow-md bg-primary size-10 shadow-base-200">$0</span>
            </div>
          </div>
          <div class="p-6 w-full">
            <div class="flex mb-3"><span class="flex items-center text-sm text-slate-400"><svg stroke="currentColor"
                  fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                  class="text-base-content size-[14px] me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                  <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>10 Lessons</span><span class="flex items-center text-sm text-slate-400 ms-3"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="text-base-content size-[14px] me-1" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>49 Students</span></div><a class="text-lg font-medium hover:text-primary"
              href="/course-detail-two/1" data-discover="true">The Ultimate Course Bundle</a>
            <p class="mt-2 text-slate-400">The phrasal sequence of the is now so many campaign</p>
            <div class="flex justify-between mt-3 md:mt-12"><span class="flex items-center"><img
                  class="rounded-full shadow size-8 shadow-base-200 me-2" alt=""
                  src="{{ 'images/demos/video/1-BPOn9ZOC.jpg' | asset_url }}"> <a
                  class="font-medium hover:text-primary" href="/index-five" data-discover="true"> Calvin
                  Carlo</a></span><a
                class="inline-flex justify-center items-center px-3 h-8 text-sm font-medium tracking-wide rounded-md bg-primary/10 hover:bg-primary text-primary hover:text-white"
                href="/index-five" data-discover="true">Explore <i
                  class="align-middle ri-arrow-right-line ms-1"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto w-full rounded-md shadow-md transition duration-500 group bg-base-100 hover:shadow-lg shadow-base-200">
        <div class="md:flex">
          <div class="relative p-3 pb-0 md:pe-0 md:pb-3 md:shrink-0"><img
              class="object-cover rounded-md size-full md:w-48" alt=""
              src="{{ 'images/demos/video/2-D_X1zCGw.jpg' | asset_url }}">
            <div class="absolute top-6 start-6"><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Free</span><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Event</span></div>
            <div class="absolute -bottom-5 md:bottom-5 md:-end-5 end-6"><span
                class="flex justify-center items-center font-semibold text-white rounded-full shadow-md bg-primary size-10 shadow-base-200">$19</span>
            </div>
          </div>
          <div class="p-6 w-full">
            <div class="flex mb-3"><span class="flex items-center text-sm text-slate-400"><svg stroke="currentColor"
                  fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                  class="text-base-content size-[14px] me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                  <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>10 Lessons</span><span class="flex items-center text-sm text-slate-400 ms-3"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="text-base-content size-[14px] me-1" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>49 Students</span></div><a class="text-lg font-medium hover:text-primary"
              href="/course-detail-two/2" data-discover="true">App Development Course</a>
            <p class="mt-2 text-slate-400">The phrasal sequence of the is now so many campaign</p>
            <div class="flex justify-between mt-3 md:mt-12"><span class="flex items-center"><img
                  class="rounded-full shadow size-8 shadow-base-200 me-2" alt=""
                  src="{{ 'images/demos/video/2-BG2qn2G8.jpg' | asset_url }}"> <a
                  class="font-medium hover:text-primary" href="/index-five" data-discover="true"> Calvin
                  Carlo</a></span><a
                class="inline-flex justify-center items-center px-3 h-8 text-sm font-medium tracking-wide rounded-md bg-primary/10 hover:bg-primary text-primary hover:text-white"
                href="/index-five" data-discover="true">Explore <i
                  class="align-middle ri-arrow-right-line ms-1"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto w-full rounded-md shadow-md transition duration-500 group bg-base-100 hover:shadow-lg shadow-base-200">
        <div class="md:flex">
          <div class="relative p-3 pb-0 md:pe-0 md:pb-3 md:shrink-0"><img
              class="object-cover rounded-md size-full md:w-48" alt=""
              src="{{ 'images/demos/video/3-DCQogip7.jpg' | asset_url }}">
            <div class="absolute top-6 start-6"><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Free</span><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Event</span></div>
            <div class="absolute -bottom-5 md:bottom-5 md:-end-5 end-6"><span
                class="flex justify-center items-center font-semibold text-white rounded-full shadow-md bg-primary size-10 shadow-base-200">$29</span>
            </div>
          </div>
          <div class="p-6 w-full">
            <div class="flex mb-3"><span class="flex items-center text-sm text-slate-400"><svg stroke="currentColor"
                  fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                  class="text-base-content size-[14px] me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                  <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>10 Lessons</span><span class="flex items-center text-sm text-slate-400 ms-3"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="text-base-content size-[14px] me-1" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>49 Students</span></div><a class="text-lg font-medium hover:text-primary"
              href="/course-detail-two/3" data-discover="true">Spoken English Popular Course</a>
            <p class="mt-2 text-slate-400">The phrasal sequence of the is now so many campaign</p>
            <div class="flex justify-between mt-3 md:mt-12"><span class="flex items-center"><img
                  class="rounded-full shadow size-8 shadow-base-200 me-2" alt=""
                  src="{{ 'images/demos/video/3-CoVwmAxs.jpg' | asset_url }}"> <a
                  class="font-medium hover:text-primary" href="/index-five" data-discover="true"> Calvin
                  Carlo</a></span><a
                class="inline-flex justify-center items-center px-3 h-8 text-sm font-medium tracking-wide rounded-md bg-primary/10 hover:bg-primary text-primary hover:text-white"
                href="/index-five" data-discover="true">Explore <i
                  class="align-middle ri-arrow-right-line ms-1"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto w-full rounded-md shadow-md transition duration-500 group bg-base-100 hover:shadow-lg shadow-base-200">
        <div class="md:flex">
          <div class="relative p-3 pb-0 md:pe-0 md:pb-3 md:shrink-0"><img
              class="object-cover rounded-md size-full md:w-48" alt=""
              src="{{ 'images/demos/video/4-HDGskMOh.jpg' | asset_url }}">
            <div class="absolute top-6 start-6"><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Free</span><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Event</span></div>
            <div class="absolute -bottom-5 md:bottom-5 md:-end-5 end-6"><span
                class="flex justify-center items-center font-semibold text-white rounded-full shadow-md bg-primary size-10 shadow-base-200">$15</span>
            </div>
          </div>
          <div class="p-6 w-full">
            <div class="flex mb-3"><span class="flex items-center text-sm text-slate-400"><svg stroke="currentColor"
                  fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                  class="text-base-content size-[14px] me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                  <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>10 Lessons</span><span class="flex items-center text-sm text-slate-400 ms-3"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="text-base-content size-[14px] me-1" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>49 Students</span></div><a class="text-lg font-medium hover:text-primary"
              href="/course-detail-two/4" data-discover="true">Back-end Development Course</a>
            <p class="mt-2 text-slate-400">The phrasal sequence of the is now so many campaign</p>
            <div class="flex justify-between mt-3 md:mt-12"><span class="flex items-center"><img
                  class="rounded-full shadow size-8 shadow-base-200 me-2" alt=""
                  src="{{ 'images/demos/video/4-HDGskMOh.jpg' | asset_url }}"> <a
                  class="font-medium hover:text-primary" href="/index-five" data-discover="true"> Calvin
                  Carlo</a></span><a
                class="inline-flex justify-center items-center px-3 h-8 text-sm font-medium tracking-wide rounded-md bg-primary/10 hover:bg-primary text-primary hover:text-white"
                href="/index-five" data-discover="true">Explore <i
                  class="align-middle ri-arrow-right-line ms-1"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto w-full rounded-md shadow-md transition duration-500 group bg-base-100 hover:shadow-lg shadow-base-200">
        <div class="md:flex">
          <div class="relative p-3 pb-0 md:pe-0 md:pb-3 md:shrink-0"><img
              class="object-cover rounded-md size-full md:w-48" alt=""
              src="{{ 'images/demos/video/5-C97biXxn.jpg' | asset_url }}">
            <div class="absolute top-6 start-6"><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Free</span><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Event</span></div>
            <div class="absolute -bottom-5 md:bottom-5 md:-end-5 end-6"><span
                class="flex justify-center items-center font-semibold text-white rounded-full shadow-md bg-primary size-10 shadow-base-200">$24</span>
            </div>
          </div>
          <div class="p-6 w-full">
            <div class="flex mb-3"><span class="flex items-center text-sm text-slate-400"><svg stroke="currentColor"
                  fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                  class="text-base-content size-[14px] me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                  <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>10 Lessons</span><span class="flex items-center text-sm text-slate-400 ms-3"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="text-base-content size-[14px] me-1" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>49 Students</span></div><a class="text-lg font-medium hover:text-primary"
              href="/course-detail-two/5" data-discover="true">Front-end Development Course</a>
            <p class="mt-2 text-slate-400">The phrasal sequence of the is now so many campaign</p>
            <div class="flex justify-between mt-3 md:mt-12"><span class="flex items-center"><img
                  class="rounded-full shadow size-8 shadow-base-200 me-2" alt=""
                  src="{{ 'images/demos/video/5-CJSRBkLE.jpg' | asset_url }}"> <a
                  class="font-medium hover:text-primary" href="/index-five" data-discover="true"> Calvin
                  Carlo</a></span><a
                class="inline-flex justify-center items-center px-3 h-8 text-sm font-medium tracking-wide rounded-md bg-primary/10 hover:bg-primary text-primary hover:text-white"
                href="/index-five" data-discover="true">Explore <i
                  class="align-middle ri-arrow-right-line ms-1"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto w-full rounded-md shadow-md transition duration-500 group bg-base-100 hover:shadow-lg shadow-base-200">
        <div class="md:flex">
          <div class="relative p-3 pb-0 md:pe-0 md:pb-3 md:shrink-0"><img
              class="object-cover rounded-md size-full md:w-48" alt=""
              src="{{ 'images/demos/video/6-DZM9M47s.jpg' | asset_url }}">
            <div class="absolute top-6 start-6"><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Free</span><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Event</span></div>
            <div class="absolute -bottom-5 md:bottom-5 md:-end-5 end-6"><span
                class="flex justify-center items-center font-semibold text-white rounded-full shadow-md bg-primary size-10 shadow-base-200">$29</span>
            </div>
          </div>
          <div class="p-6 w-full">
            <div class="flex mb-3"><span class="flex items-center text-sm text-slate-400"><svg stroke="currentColor"
                  fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                  class="text-base-content size-[14px] me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                  <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>10 Lessons</span><span class="flex items-center text-sm text-slate-400 ms-3"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="text-base-content size-[14px] me-1" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>49 Students</span></div><a class="text-lg font-medium hover:text-primary"
              href="/course-detail-two/6" data-discover="true">Full stack Project in Nextjs Course</a>
            <p class="mt-2 text-slate-400">The phrasal sequence of the is now so many campaign</p>
            <div class="flex justify-between mt-3 md:mt-12"><span class="flex items-center"><img
                  class="rounded-full shadow size-8 shadow-base-200 me-2" alt=""
                  src="{{ 'images/demos/video/6-DZM9M47s.jpg' | asset_url }}"> <a
                  class="font-medium hover:text-primary" href="/index-five" data-discover="true"> Calvin
                  Carlo</a></span><a
                class="inline-flex justify-center items-center px-3 h-8 text-sm font-medium tracking-wide rounded-md bg-primary/10 hover:bg-primary text-primary hover:text-white"
                href="/index-five" data-discover="true">Explore <i
                  class="align-middle ri-arrow-right-line ms-1"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto w-full rounded-md shadow-md transition duration-500 group bg-base-100 hover:shadow-lg shadow-base-200">
        <div class="md:flex">
          <div class="relative p-3 pb-0 md:pe-0 md:pb-3 md:shrink-0"><img
              class="object-cover rounded-md size-full md:w-48" alt=""
              src="{{ 'images/demos/video/7-CPIzegQ3.jpg' | asset_url }}">
            <div class="absolute top-6 start-6"><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Free</span><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Event</span></div>
            <div class="absolute -bottom-5 md:bottom-5 md:-end-5 end-6"><span
                class="flex justify-center items-center font-semibold text-white rounded-full shadow-md bg-primary size-10 shadow-base-200">$15</span>
            </div>
          </div>
          <div class="p-6 w-full">
            <div class="flex mb-3"><span class="flex items-center text-sm text-slate-400"><svg stroke="currentColor"
                  fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                  class="text-base-content size-[14px] me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                  <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>10 Lessons</span><span class="flex items-center text-sm text-slate-400 ms-3"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="text-base-content size-[14px] me-1" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>49 Students</span></div><a class="text-lg font-medium hover:text-primary"
              href="/course-detail-two/7" data-discover="true">Why Is Education So Famous?</a>
            <p class="mt-2 text-slate-400">The phrasal sequence of the is now so many campaign</p>
            <div class="flex justify-between mt-3 md:mt-12"><span class="flex items-center"><img
                  class="rounded-full shadow size-8 shadow-base-200 me-2" alt=""
                  src="{{ 'images/demos/video/7-CPIzegQ3.jpg' | asset_url }}"> <a
                  class="font-medium hover:text-primary" href="/index-five" data-discover="true"> Calvin
                  Carlo</a></span><a
                class="inline-flex justify-center items-center px-3 h-8 text-sm font-medium tracking-wide rounded-md bg-primary/10 hover:bg-primary text-primary hover:text-white"
                href="/index-five" data-discover="true">Explore <i
                  class="align-middle ri-arrow-right-line ms-1"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="mx-auto w-full rounded-md shadow-md transition duration-500 group bg-base-100 hover:shadow-lg shadow-base-200">
        <div class="md:flex">
          <div class="relative p-3 pb-0 md:pe-0 md:pb-3 md:shrink-0"><img
              class="object-cover rounded-md size-full md:w-48" alt=""
              src="{{ 'images/demos/video/8-DQ7evI4a.jpg' | asset_url }}">
            <div class="absolute top-6 start-6"><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Free</span><span
                class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4 mx-[2px]">Event</span></div>
            <div class="absolute -bottom-5 md:bottom-5 md:-end-5 end-6"><span
                class="flex justify-center items-center font-semibold text-white rounded-full shadow-md bg-primary size-10 shadow-base-200">$24</span>
            </div>
          </div>
          <div class="p-6 w-full">
            <div class="flex mb-3"><span class="flex items-center text-sm text-slate-400"><svg stroke="currentColor"
                  fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                  class="text-base-content size-[14px] me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                  <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>10 Lessons</span><span class="flex items-center text-sm text-slate-400 ms-3"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="text-base-content size-[14px] me-1" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>49 Students</span></div><a class="text-lg font-medium hover:text-primary"
              href="/course-detail-two/8" data-discover="true">Difficult Things About Education.</a>
            <p class="mt-2 text-slate-400">The phrasal sequence of the is now so many campaign</p>
            <div class="flex justify-between mt-3 md:mt-12"><span class="flex items-center"><img
                  class="rounded-full shadow size-8 shadow-base-200 me-2" alt=""
                  src="{{ 'images/demos/video/8-DQ7evI4a.jpg' | asset_url }}"> <a
                  class="font-medium hover:text-primary" href="/index-five" data-discover="true"> Calvin
                  Carlo</a></span><a
                class="inline-flex justify-center items-center px-3 h-8 text-sm font-medium tracking-wide rounded-md bg-primary/10 hover:bg-primary text-primary hover:text-white"
                href="/index-five" data-discover="true">Explore <i
                  class="align-middle ri-arrow-right-line ms-1"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 mt-6 md:grid-cols-12">
      <div class="text-center md:col-span-12"><a class="duration-500 ease-in-out text-slate-400 hover:text-primary"
          href="/list" data-discover="true">See More Courses <i class="align-middle ri-arrow-right-line"></i></a></div>
    </div>
  </div>
  <div class="container relative mt-16 lg:mt-24">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h3 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">What Our Students Say ?</h3>
      <p class="mx-auto max-w-xl text-slate-400">Discover a world of knowledge and opportunities with our online
        education platform pursue a new career.</p>
    </div>
    <div class="flex relative justify-center mt-6">
      <div class="relative p-4 w-full rounded-lg bg-base-200">
        <div class="tiny-three-item">
          <div class="mx-3">
            <ul class="mb-2 font-medium list-none text-amber-500 text-md">
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
            </ul>
            <p class="text-lg text-slate-400"> " Online education has allowed me to balance work and study
              easily. The flexibility of choosing when to study has made it a perfect fit for my busy
              schedule! " </p>
            <div class="flex items-center mt-3"><img
                class="rounded-full shadow-md size-12 shadow-base-200" alt=""
                src="{{ 'images/demos/video/1-BPOn9ZOC.jpg' | asset_url }}">
              <div class="ms-2">
                <h6 class="font-semibold">Megan Cade</h6><span class="text-sm text-slate-400">Student</span>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <ul class="mb-2 font-medium list-none text-amber-500 text-md">
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
            </ul>
            <p class="text-lg text-slate-400"> " I was surprised by how interactive online courses can be. The
              live discussions and group projects kept me engaged, and I felt connected to my classmates. "
            </p>
            <div class="flex items-center mt-3"><img
                class="rounded-full shadow-md size-12 shadow-base-200" alt=""
                src="{{ 'images/demos/video/2-BG2qn2G8.jpg' | asset_url }}">
              <div class="ms-2">
                <h6 class="font-semibold">Ramon Gibson</h6><span class="text-sm text-slate-400">Student</span>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <ul class="mb-2 font-medium list-none text-amber-500 text-md">
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
            </ul>
            <p class="text-lg text-slate-400"> " Studying online saved me a lot of money, and I didn't have to
              commute. The quality of the courses was fantastic, and I could learn at my own pace. " </p>
            <div class="flex items-center mt-3"><img
                class="rounded-full shadow-md size-12 shadow-base-200" alt=""
                src="{{ 'images/demos/video/3-CoVwmAxs.jpg' | asset_url }}">
              <div class="ms-2">
                <h6 class="font-semibold">Stella Robinson</h6><span class="text-sm text-slate-400">Student</span>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <ul class="mb-2 font-medium list-none text-amber-500 text-md">
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
            </ul>
            <p class="text-lg text-slate-400"> " Online learning requires discipline, but it’s worth it. I had
              to work on time management, but the flexibility and quality of the content made it rewarding. "
            </p>
            <div class="flex items-center mt-3"><img
                class="rounded-full shadow-md size-12 shadow-base-200" alt=""
                src="{{ 'images/demos/video/4-BrmHXFfN.jpg' | asset_url }}">
              <div class="ms-2">
                <h6 class="font-semibold">Paul Phelan</h6><span class="text-sm text-slate-400">Student</span>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <ul class="mb-2 font-medium list-none text-amber-500 text-md">
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
            </ul>
            <p class="text-lg text-slate-400"> " Taking online courses has helped me grow professionally. I
              could apply what I learned immediately at work, and the knowledge I gained was practical and
              up-to-date. " </p>
            <div class="flex items-center mt-3"><img
                class="rounded-full shadow-md size-12 shadow-base-200" alt=""
                src="{{ 'images/demos/video/5-C97biXxn.jpg' | asset_url }}">
              <div class="ms-2">
                <h6 class="font-semibold">Christa Smith</h6><span class="text-sm text-slate-400">Student</span>
              </div>
            </div>
          </div>
          <div class="mx-3">
            <ul class="mb-2 font-medium list-none text-amber-500 text-md">
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
              <li class="inline"><i class="ri-star-s-fill"></i></li>
            </ul>
            <p class="text-lg text-slate-400"> " The biggest advantage of online education is convenience, but
              it requires self-motivation. If you're committed, it’s a great way to advance your skills. "
            </p>
            <div class="flex items-center mt-3"><img
                class="rounded-full shadow-md size-12 shadow-base-200" alt=""
                src="{{ 'images/demos/video/6-DZM9M47s.jpg' | asset_url }}">
              <div class="ms-2">
                <h6 class="font-semibold">Calvin Carlo</h6><span class="text-sm text-slate-400">Student</span>
              </div>
            </div>
          </div>
        </div>
        <script>
          document.addEventListener('turbo:load', function () {
            var slider = tns({
              container: '.tiny-three-item',
              items: 3,
              arrowKeys: true,
              swipeAngle: false,
              controls: false,
              nav: true,
              navPosition: 'bottom',
              navContainer: false,
              navAsThumbnails: false,
              slideBy: 'page',
              autoplay: true,
              autoplayButtonOutput: false,
              responsive: {
                0: {
                  items: 1,
                  nav: true
                },
                640: {
                  items: 2,
                  nav: true
                },
                1024: {
                  items: 3,
                  nav: true
                }
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
  <div class="container relative mt-16 md:mt-24">
    <div class="grid grid-cols-1 gap-6 items-center md:grid-cols-12">
      <div class="lg:col-span-6 md:col-span-7">
        <div class="relative">
          <div class="relative mx-5 md:shrink-0 lg:mx-0"><img
              class="object-cover md:w-96 w-84 h-[500px] rounded-lg shadow-md" alt=""
              src="{{ 'images/demos/video/4-HDGskMOh.jpg' | asset_url }}"></div>
          <div class="absolute bottom-10 lg:end-6 end-0">
            <div class="relative top-10 z-1 xl:text-start lg:text-end text-end"><a
                class="justify-center items-center text-white rounded-full lightbox size-20 shadow-mdinline-flex bg-primary"
                href="/index-five#!" data-discover="true"><i
                  class="inline-flex justify-center items-center text-2xl ri-play-fill"></i></a></div>
            <div class="relative md:shrink-0"><img
                class="object-cover rounded-lg shadow-md size-48 dark:shadow-gray-700" alt=""
                src="{{ 'images/demos/video/2-D_X1zCGw.jpg' | asset_url }}"></div>
          </div>
          <div
            class="absolute top-12 p-4 w-56 rounded-lg shadow-md md:top-16 md:-start-10 -start-2 bg-base-100 z-2 mover">
            <h5 class="mb-3 font-semibold">Our Instrunctors</h5>
            <ul class="relative list-none">
              <li class="inline-block relative"><a href="/index-five" data-discover="true"><img
                    class="relative rounded-full border-4 shadow-md transition-all duration-500 size-10 shadow-base-200 border-base-100 hover:z-1 hover:scale-105"
                    alt="" src="{{ 'images/demos/video/1-BPOn9ZOC.jpg' | asset_url }}"></a></li>
              <li class="inline-block relative -ms-4"><a href="/index-five" data-discover="true"><img
                    class="relative rounded-full border-4 shadow-md transition-all duration-500 size-10 shadow-base-200 border-base-100 hover:z-1 hover:scale-105"
                    alt="" src="{{ 'images/demos/video/2-BG2qn2G8.jpg' | asset_url }}"></a></li>
              <li class="inline-block relative -ms-4"><a href="/index-five" data-discover="true"><img
                    class="relative rounded-full border-4 shadow-md transition-all duration-500 size-10 shadow-base-200 border-base-100 hover:z-1 hover:scale-105"
                    alt="" src="{{ 'images/demos/video/3-CoVwmAxs.jpg' | asset_url }}"></a></li>
              <li class="inline-block relative -ms-4"><a href="/index-five" data-discover="true"><img
                    class="relative rounded-full border-4 shadow-md transition-all duration-500 size-10 shadow-base-200 border-base-100 hover:z-1 hover:scale-105"
                    alt="" src="{{ 'images/demos/video/4-BrmHXFfN.jpg' | asset_url }}"></a></li>
              <li class="inline-block relative -ms-4"><a href="/index-five" data-discover="true"><img
                    class="relative rounded-full border-4 shadow-md transition-all duration-500 size-10 shadow-base-200 border-base-100 hover:z-1 hover:scale-105"
                    alt="" src="{{ 'images/demos/video/5-CJSRBkLE.jpg' | asset_url }}"></a></li>
              <li class="inline-block relative -ms-4"><a
                  class="table-cell text-base tracking-wide text-center text-white align-middle rounded-full transition-all duration-500 size-9 bg-primary hover:z-1 hover:scale-105"
                  href="/index-five" data-discover="true"><i class="ri-add-fill"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="lg:col-span-6 md:col-span-5">
        <h4 class="mb-4 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">Questions &amp; Answers
        </h4>
        <p class="mx-auto max-w-xl text-slate-400">Discover a world of knowledge and opportunities with our online
          education platform pursue a new career.</p>
        <div id="accordion-collapseone" data-accordion="collapse" class="mt-6">
          <div class="overflow-hidden relative mt-4 rounded-md shadow first:mt-0">
            <h2 class="font-medium" id="accordion-collapse-heading-1"><button type="button"
                class="flex justify-between items-center p-5 w-full font-medium text-start bg-base-200 text-primary"><span>How
                  does it work ?</span><svg data-accordion-icon="true" class="rotate-180 size-5 shrink-0"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg></button></h2>
            <div id="accordion-collapse-body-1" class="">
              <div class="p-5">
                <p class="text-base-content/50">There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>
          <div class="overflow-hidden relative mt-4 rounded-md shadow first:mt-0">
            <h2 class="font-medium" id="accordion-collapse-heading-1"><button type="button"
                class="flex justify-between items-center p-5 w-full font-medium text-start"><span>Do I need a designer
                  to use Edupath ?</span><svg data-accordion-icon="true" class="size-5 shrink-0" fill="currentColor"
                  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg></button></h2>
            <div id="accordion-collapse-body-1" class="hidden">
              <div class="p-5">
                <p class="text-base-content/50">There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>
          <div class="overflow-hidden relative mt-4 rounded-md shadow first:mt-0">
            <h2 class="font-medium" id="accordion-collapse-heading-1"><button type="button"
                class="flex justify-between items-center p-5 w-full font-medium text-start"><span>What do I need to do
                  to start selling ?</span><svg data-accordion-icon="true" class="size-5 shrink-0" fill="currentColor"
                  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg></button></h2>
            <div id="accordion-collapse-body-1" class="hidden">
              <div class="p-5">
                <p class="text-base-content/50">There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>
          <div class="overflow-hidden relative mt-4 rounded-md shadow first:mt-0">
            <h2 class="font-medium" id="accordion-collapse-heading-1"><button type="button"
                class="flex justify-between items-center p-5 w-full font-medium text-start"><span>What happens when I
                  receive an order ?</span><svg data-accordion-icon="true" class="size-5 shrink-0" fill="currentColor"
                  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg></button></h2>
            <div id="accordion-collapse-body-1" class="hidden">
              <div class="p-5">
                <p class="text-base-content/50">There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some form.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container relative mt-16 lg:mt-24">
    <div class="grid grid-cols-1 pb-6 text-center">
      <h4 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">Expert Instructors</h4>
      <p class="mx-auto max-w-xl text-slate-400">Discover a world of knowledge and opportunities with our online
        education platform pursue a new career.</p>
    </div>
    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-4 md:grid-cols-2">
      <div class="text-center group">
        <div class="inline-block overflow-hidden relative mx-auto rounded-full"><img class="" alt=""
            src="{{ 'images/demos/video/1-BPOn9ZOC.jpg' | asset_url }}">
          <div
            class="absolute inset-0 bg-gradient-to-b from-transparent to-black rounded-full opacity-0 duration-500 group-hover:opacity-100">
          </div>
          <ul class="absolute -bottom-20 list-none duration-500 start-0 end-0 group-hover:bottom-5">
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg></a></li>
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg></a></li>
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                  <rect x="2" y="9" width="4" height="12"></rect>
                  <circle cx="4" cy="4" r="2"></circle>
                </svg></a></li>
          </ul>
        </div>
        <div class="mt-3 content"><a class="text-lg font-medium duration-500 hover:text-primary" href="/index-five"
            data-discover="true">Megan Cade</a>
          <p class="text-slate-400">UI/UX Expert</p>
        </div>
      </div>
      <div class="text-center group">
        <div class="inline-block overflow-hidden relative mx-auto rounded-full"><img class="" alt=""
            src="{{ 'images/demos/video/2-BG2qn2G8.jpg' | asset_url }}">
          <div
            class="absolute inset-0 bg-gradient-to-b from-transparent to-black rounded-full opacity-0 duration-500 group-hover:opacity-100">
          </div>
          <ul class="absolute -bottom-20 list-none duration-500 start-0 end-0 group-hover:bottom-5">
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg></a></li>
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg></a></li>
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                  <rect x="2" y="9" width="4" height="12"></rect>
                  <circle cx="4" cy="4" r="2"></circle>
                </svg></a></li>
          </ul>
        </div>
        <div class="mt-3 content"><a class="text-lg font-medium duration-500 hover:text-primary" href="/index-five"
            data-discover="true">Ramon Gibson</a>
          <p class="text-slate-400">Science Teacher</p>
        </div>
      </div>
      <div class="text-center group">
        <div class="inline-block overflow-hidden relative mx-auto rounded-full"><img class="" alt=""
            src="{{ 'images/demos/video/3-CoVwmAxs.jpg' | asset_url }}">
          <div
            class="absolute inset-0 bg-gradient-to-b from-transparent to-black rounded-full opacity-0 duration-500 group-hover:opacity-100">
          </div>
          <ul class="absolute -bottom-20 list-none duration-500 start-0 end-0 group-hover:bottom-5">
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg></a></li>
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg></a></li>
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                  <rect x="2" y="9" width="4" height="12"></rect>
                  <circle cx="4" cy="4" r="2"></circle>
                </svg></a></li>
          </ul>
        </div>
        <div class="mt-3 content"><a class="text-lg font-medium duration-500 hover:text-primary" href="/index-five"
            data-discover="true">Stella Robinson</a>
          <p class="text-slate-400">Math Specialist</p>
        </div>
      </div>
      <div class="text-center group">
        <div class="inline-block overflow-hidden relative mx-auto rounded-full"><img class="" alt=""
            src="{{ 'images/demos/video/4-BrmHXFfN.jpg' | asset_url }}">
          <div
            class="absolute inset-0 bg-gradient-to-b from-transparent to-black rounded-full opacity-0 duration-500 group-hover:opacity-100">
          </div>
          <ul class="absolute -bottom-20 list-none duration-500 start-0 end-0 group-hover:bottom-5">
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg></a></li>
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg></a></li>
            <li class="inline mx-[2px]"><a
                class="inline-flex justify-center items-center text-base tracking-wide text-center text-white align-middle rounded-full duration-500 size-8 bg-primary"
                href="/index-five" data-discover="true"><svg stroke="currentColor" fill="none" stroke-width="2"
                  viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="size-4" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                  <rect x="2" y="9" width="4" height="12"></rect>
                  <circle cx="4" cy="4" r="2"></circle>
                </svg></a></li>
          </ul>
        </div>
        <div class="mt-3 content"><a class="text-lg font-medium duration-500 hover:text-primary" href="/index-five"
            data-discover="true">Paul Phelan</a>
          <p class="text-slate-400">Assistant Teacher</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container relative mt-16 md:mt-24">
    <div class="grid grid-cols-1 pb-6 text-center">
      <h4 class="mb-6 text-2xl font-semibold leading-normal md:text-3xl md:leading-normal">Blogs Or News</h4>
      <p class="mx-auto max-w-xl text-slate-400">Discover a world of knowledge and opportunities with our online
        education platform pursue a new career.</p>
    </div>
    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-3 md:grid-cols-2">
      <div
        class="overflow-hidden relative rounded-md shadow transition-all duration-500 group h-fit bg-base-100">
        <div class="overflow-hidden relative"><img class="" alt=""
            src="{{ 'images/demos/video/1-BE2oHx08.jpg' | asset_url }}">
          <div class="absolute bottom-6 start-6"><span
              class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4">Degree</span></div>
        </div>
        <div class="relative p-6">
          <div class="">
            <div class="flex justify-between mb-4"><span class="flex items-center text-sm text-slate-400"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="size-4 me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                  <line x1="16" y1="2" x2="16" y2="6"></line>
                  <line x1="8" y1="2" x2="8" y2="6"></line>
                  <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg> 13th Sep 25</span><span class="flex items-center text-sm text-slate-400"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="size-4 me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="10"></circle>
                  <polyline points="12 6 12 12 16 14"></polyline>
                </svg> 5 Min</span></div><a class="text-lg font-medium hover:text-primary" href="/blog-detail/1"
              data-discover="true">The Future of Remote Work: Trending Now</a>
            <div class="mt-3"><a class="duration-500 ease-in-out btn btn-link hover:text-primary after:bg-primary"
                href="/blog-detail/1" data-discover="true">Read More <i class="ri-arrow-right-line"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="overflow-hidden relative rounded-md shadow transition-all duration-500 group h-fit bg-base-100">
        <div class="overflow-hidden relative"><img class="" alt=""
            src="{{ 'images/demos/video/2-D_X1zCGw.jpg' | asset_url }}">
          <div class="absolute bottom-6 start-6"><span
              class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4">University</span></div>
        </div>
        <div class="relative p-6">
          <div class="">
            <div class="flex justify-between mb-4"><span class="flex items-center text-sm text-slate-400"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="size-4 me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                  <line x1="16" y1="2" x2="16" y2="6"></line>
                  <line x1="8" y1="2" x2="8" y2="6"></line>
                  <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg> 29th Nov 25</span><span class="flex items-center text-sm text-slate-400"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="size-4 me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="10"></circle>
                  <polyline points="12 6 12 12 16 14"></polyline>
                </svg> 5 Min</span></div><a class="text-lg font-medium hover:text-primary" href="/blog-detail/2"
              data-discover="true">The Psychology of Learning: How Cognitive</a>
            <div class="mt-3"><a class="duration-500 ease-in-out btn btn-link hover:text-primary after:bg-primary"
                href="/blog-detail/2" data-discover="true">Read More <i class="ri-arrow-right-line"></i></a></div>
          </div>
        </div>
      </div>
      <div
        class="overflow-hidden relative rounded-md shadow transition-all duration-500 group h-fit bg-base-100">
        <div class="overflow-hidden relative"><img class="" alt=""
            src="{{ 'images/demos/video/3-DCQogip7.jpg' | asset_url }}">
          <div class="absolute bottom-6 start-6"><span
              class="bg-primary text-white text-[12px] px-2.5 py-1 rounded-md h-4">Developer</span></div>
        </div>
        <div class="relative p-6">
          <div class="">
            <div class="flex justify-between mb-4"><span class="flex items-center text-sm text-slate-400"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="size-4 me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                  <line x1="16" y1="2" x2="16" y2="6"></line>
                  <line x1="8" y1="2" x2="8" y2="6"></line>
                  <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg> 29th Dec 25</span><span class="flex items-center text-sm text-slate-400"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" class="size-4 me-1" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="10"></circle>
                  <polyline points="12 6 12 12 16 14"></polyline>
                </svg> 5 Min</span></div><a class="text-lg font-medium hover:text-primary" href="/blog-detail/3"
              data-discover="true">Crafting Compelling Presentations: Design</a>
            <div class="mt-3"><a class="duration-500 ease-in-out btn btn-link hover:text-primary after:bg-primary"
                href="/blog-detail/3" data-discover="true">Read More <i class="ri-arrow-right-line"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:schema.templates.index.name",
  "description": "t:schema.templates.index.description",
  "thumb_url": "images/theme/${lang}/index-preview.png",
  "sub_page_templates": [
    "index.help-center",
    "help-center-list",
    "index.video",
    "video-list",
    "release-logs-list",
    "blog-list",
    "blank"
  ]
}
{% endschema %}

