{%# 先赋值站点所有页面的集合 %}
{% assign pages = page.pages_in_list | order_by: '-published_at' %}

<section class="container flex relative flex-col min-h-screen first-section">
  <!-- Bg coloured shapes -->
  <div class="absolute inset-y-0 w-[1102px] left-1/2 -translate-x-1/2 -z-10 pointer-events-none blur-3xl"
    aria-hidden="true">
    <div
    class="absolute w-[960px] h-24 top-12 animate-[swing_8s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-primary before:-rotate-[42deg]">
    </div>
    <div
    class="absolute w-[960px] h-24 -top-12 -left-28 animate-[swing_15s_-1s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-base-100 dark:before:via-primary/40 before:-rotate-[42deg]">
    </div>
    <div
    class="absolute w-[960px] h-16 top-36 left-80 animate-[swing_7s_-2s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-base-100 dark:before:via-primary/40 before:-rotate-[42deg]">
    </div>
    <div
    class="absolute w-[960px] h-64 top-[820px] left-44 animate-[swing_10s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-primary/25 dark:before:via-primary/20 before:-rotate-[42deg]">
    </div>
    <div
    class="absolute w-[480px] h-12 top-[970px] left-[550px] animate-[swing_15s_-2s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-base-100 dark:before:via-primary before:-rotate-[42deg]">
    </div>
    <div
    class="absolute w-[960px] h-16 top-[820px] left-24 animate-[swing_9s_-3s_ease-in-out_infinite] before:absolute before:inset-0 before:rounded-tl-full before:rounded-br-full before:bg-gradient-to-b before:from-transparent before:to-transparent before:via-base-100 dark:before:via-primary/95 before:-rotate-[42deg]">
    </div>
  </div>

  <!-- Page content -->
  <main class="grow">
    <section class="pt-8 pb-12 md:pt-20 md:pb-20">
      <div class="px-4 mx-auto max-w-3xl sm:px-6">
        <div class="text-center">
        <div
          class="relative flex items-center justify-center gap-4 mb-5 before:h-px before:w-24 before:border-b before:[border-image:linear-gradient(to_left,theme(colors.indigo.300),transparent)1] dark:before:[border-image:linear-gradient(to_left,theme(colors.indigo.300/.16),transparent)1] before:shadow-sm before:shadow-base-100/20 dark:before:shadow-none after:h-px after:w-24 after:border-b after:[border-image:linear-gradient(to_right,theme(colors.indigo.300),transparent)1] dark:after:[border-image:linear-gradient(to_right,theme(colors.indigo.300/.16),transparent)1] after:shadow-sm after:shadow-base-100/20 dark:after:shadow-none">
          <div
          class="relative text-sm font-medium text-base-content bg-base-100 dark:bg-base-200 inline-flex rounded-lg whitespace-nowrap px-3 py-[3px] tracking-normal before:absolute before:inset-0 before:rounded-lg before:[background-image:linear-gradient(120deg,transparent_0%,theme(colors.indigo.400/.12)_33%,theme(colors.pink.400/.12)_66%,theme(colors.amber.200/.12)_100%)] dark:before:[background-image:linear-gradient(120deg,theme(colors.indigo.400/.16),theme(colors.indigo.600/.16)_50%,transparent_100%)] shadow">
          <!-- Border with dots in corners -->
          <div
            class="absolute -inset-1.5 bg-primary/10 dark:bg-base-300 rounded-sm -z-10 before:absolute before:inset-y-0 before:left-0 before:w-[7px] before:bg-[length:7px_7px] before:[background-position:top_center,bottom_center] before:bg-no-repeat before:[background-image:radial-gradient(circle_at_center,theme(colors.indigo.500/.56)_0.5px,transparent_0.5px),radial-gradient(circle_at_center,theme(colors.indigo.500/.56)_0.5px,transparent_0.5px)] dark:before:[background-image:radial-gradient(circle_at_center,theme(colors.base-300/.56)_0.5px,transparent_0.5px),radial-gradient(circle_at_center,theme(colors.base-300/.56)_0.5px,transparent_0.5px)] after:absolute after:inset-y-0 after:right-0 after:w-[7px] after:bg-[length:7px_7px] after:[background-position:top_center,bottom_center] after:bg-no-repeat after:[background-image:radial-gradient(circle_at_center,theme(colors.indigo.500/.56)_0.5px,transparent_0.5px),radial-gradient(circle_at_center,theme(colors.indigo.500/.56)_0.5px,transparent_0.5px)] dark:after:[background-image:radial-gradient(circle_at_center,theme(colors.base-300/.56)_0.5px,transparent_0.5px),radial-gradient(circle_at_center,theme(colors.base-300/.56)_0.5px,transparent_0.5px)]"
            aria-hidden="true"></div>
          <span
            class="relative text-base-content dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-b dark:from-primary dark:to-base-100">What's
            New</span>
          </div>
        </div>

        <h1
          class="pb-4 text-5xl font-bold text-base-content font-inter-tight md:text-6xl">
          {{ page.settings.title }}</h1>
        <p class="text-lg text-base-content/70">
          {{ page.settings.description  }}
        </p>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="pb-12 md:pb-20">
      <div class="px-4 sm:px-6">
        <div class="mx-auto max-w-5xl">
          <div class="md:flex md:justify-between" data-controller="load-more" >

          <!-- Sidebar -->
          <aside class="mb-12 md:mb-0 md:w-[276px] md:mr-8 md:shrink-0 md:p-4">
            <div class="mb-3 text-xs font-semibold tracking-normal uppercase text-base-content/60"> 选择标签
            </div>
            <ul class="space-y-0.5" x-data="{ }">
            <li>
              <a class="flex items-center px-4 space-x-4 h-9 text-sm font-medium transition-colors text-base-content"
              :class="'{{ params.tag_name }}' == '' ? 'bg-base-200 shadow' : 'hover:bg-primary/10'"
              href="{{ page.path }}">
              <div class="w-2 h-2 bg-current rounded-full" style="background-color: "></div>
              <span> {{ 'generic.all_tags' | t }} </span>
              </a>
            </li>
            {% for tag in site.tags %}
              <li>
              <a class="flex items-center px-4 space-x-4 h-9 text-sm font-medium transition-colors text-base-content"
              :class="'{{ params.tag_name }}' === '{{ tag.name }}' ? 'bg-base-200 shadow' : 'hover:bg-primary/10'"
                href="{{ page.path }}/?tag_name={{ tag.name }}">
                <div class="w-2 h-2 bg-current rounded-full" style="background-color: {{ tag.color }}"></div>
                <span>{{ tag.name }}</span>
              </a>
              </li>
            {% endfor %}
            </ul>
          </aside>

          <!-- Posts -->
          {% assign tag_name = params.tag_name | presence %}
          {% assign has_tag = tag_name | present? %}
          {% if has_tag %}
            {% assign tag = site.tags[params.tag_name] %}
            {% assign pages = tag.pages | order_by: '-created_at' %}
          {% endif %}

          <div class="md:grow">
            <div id="pages_container" data-load-more-target="container" class="-my-5 space-y-4">
            {% paginate_tag pages, per: 12 %}
              {% for page in pages %}
                  {% render 'release-logs/card', page: page %}
              {% else %}
                  {% render 'empty',
                      title: 't:schema.templates.release-logs-list.empty.title',
                      description: 't:schema.templates.release-logs-list.empty.description',
                      icon: 'document',
                      button_text: 't:schema.templates.release-logs-list.empty.button_text',
                      button_url: '/'
                  %}
              {% endfor %}
            {% endpaginate_tag %}
            </div>

            {% if paginate.next_page %}
              <button
                  id="load-more"
                  data-action="click->load-more#loadMore"
                  data-load-more-url-value="{{ page.path }}/?tag_name={{ params.tag_name | default: ' ' }}&_page={{ paginate.next_page }}"
                  data-load-more-target="button"
                  class="text-sm font-medium text-base-content btn btn-ghost mt-18"
              >
              <svg data-load-more-target="loadingIcon" class="ml-2 w-4 h-4 animate-spin" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
                  <!-- 加载图标 -->
              </button>
            {% endif %}

          </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>

{% schema %}
{
  "name": "t:schema.templates.release-logs-list.name",
  "description": "t:schema.templates.release-logs-list.description",
  "thumb_url": "",
  "preview_image_urls": [],
  "sub_page_templates": ["release-logs-page"],
  "settings": [
    {
      "id": "title",
      "type": "text",
      "placeholder": "",
      "label": "t:schema.templates.release-logs-list.settings.title.label",
      "info": "t:schema.templates.release-logs-list.settings.title.info",
      "default": "t:schema.templates.release-logs-list.settings.title.default"
    },
    {
      "id": "description",
      "type": "html",
      "label": "t:schema.templates.release-logs-list.settings.description.label",
      "default": "t:schema.templates.release-logs-list.settings.description.default"
    }
  ]
}
{% endschema%}
