{% comment %} 
 视频课程详情页
 变量:
  - page: 视频课程页面数据
  - site: 网站数据

  可使用 {{ page | inspect }} 查看页面数据
{% endcomment %}

{% assign poster = page.settings.cover | presence %}
{% unless poster %}
  {% assign poster = page.parent.settings.default_cover | presence %}
{% endunless %}
{% unless poster %}
  {% assign poster = "images/demos/video/video-preview-01.jpg" | asset_url %}
{% endunless %}
{% assign duration = page.settings.duration | presence %}
<section class="relative pt-32 md:pb-24 pb-16">
  <div class="container">
    <div class="md:flex justify-center">
      <div class="lg:w-3/5">
        <h3 class="text-3xl leading-normal font-medium">
          {{ page.settings.title }}
        </h3>
        <div class="flex items-center mx-auto mt-3">
          <div class="avatar">
          <div class="w-8 rounded-full shadow shadow-base-200">
            <img src="{{ page.author.avatar_path }}"/>
          </div>
          </div>
          <span class="font-semibold block ms-3">{{ page.author.name }}</span>
        </div>
      </div>
    </div>
    <div class="md:flex justify-center text-center">
      <div class="lg:w-4/5">
        <ul class="tracking-[0.5px] mb-0 inline-block mt-4">
          <li class="inline-flex items-center mt-2 me-5">
            <i class="ri-time-line"></i>
            <span class="text-slate-400 ms-2">{{ page.published_at | date: "%Y-%m-%d" }}</span>
          </li>
          {%- if duration -%}
            <li class="inline-flex items-center mt-2 me-5">
              <i class="ri-timer-line"></i>
              <span class="text-slate-400 ms-2">{{ duration }}</span>
            </li>
          {%- endif -%}
          <li class="inline-flex items-center mt-2 me-5">
            <i class="ri-group-line"></i>
            <span class="text-slate-400 ms-2">{{ page.visits_count }}</span>
          </li>
          <li class="inline-flex items-center mt-2 me-5">
            <i class="ri-folder-5-line"></i>
            <a class="text-primary ms-2" href="{{ page.parent.url }}">{{ page.parent.link_text }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="md:flex justify-center mt-6">
      <div class="lg:w-full">
        {% render "video/player", video_url: page.settings.video, poster: poster %}
      </div>
    </div>
    <div class="md:flex justify-center mt-10">
      <div class="lg:w-3/5 ProseMirror">
        {{ page.settings.content }}
      </div>
    </div>
  </div>
  <div class="container relative md:mt-24 mt-16">
    <div class="grid grid-cols-1 pb-6 text-center">
      <h4 class="mb-6 md:text-3xl text-2xl md:leading-normal leading-normal font-semibold">{{ "templates.video-page.recent_videos" | t }}</h4>
      <p class="text-slate-400 max-w-xl mx-auto">{{ "templates.video-page.recent_videos_description" | t }}</p>
    </div>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-6 gap-6">
      {%# 生成最近3个全站页面的查询 %}
      {% assign all_videos = site.pages_in_list | limit: 3 | order_by: "-published_at" %}
      
      {%# 过滤出 video-page 模版的页面，即最近发布的 3 个视频 %}
      {% query recent_videos from all_videos %}
        {
          "where": {
            "template_name_in": ["video-page"]
          }
        }
      {% endquery %}

      {%# 渲染最近发布的 3 个视频 %}
      {% for video in recent_videos %}
        {% render 'video/card', page: video %}
      {% endfor %}
    </div>
  </div>
  {% render 'video/subscription' %}
</section>

{% schema %}
{
  "name": "t:schema.templates.video-page.name",
  "description": "t:schema.templates.video-page.description",
  "thumb_url": "",
  "sub_page_templates": [
    "video-page"
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:schema.templates.video-page.settings.title.label"
    },
    {
        "type": "textarea",
        "id": "description",
        "rows": 3,
        "label": "t:schema.templates.video-page.settings.description.label"
    },
    {
      "type": "video_picker",
      "id": "video",
      "height": 128,
      "ratio": "16:9",
      "label": "t:schema.templates.video-page.settings.video.label"
    },
    {
      "type": "text",
      "id": "duration",
      "label": "t:schema.templates.video-page.settings.duration.label",
      "info": "t:schema.templates.video-page.settings.duration.info"
    },
    {
      "type": "image_picker",
      "id": "cover",
      "height": 128,
      "ratio": "16:9",
      "info": "t:schema.templates.video-page.settings.cover.info",
      "label": "t:schema.templates.video-page.settings.cover.label"
    },
    {
      "type": "tag_picker",
      "id": "tags",
      "multiple": true,
      "query_enabled": true,
      "label": "t:schema.templates.video-page.settings.tags.label",
      "info": "t:schema.templates.video-page.settings.tags.info"
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "t:schema.templates.video-page.settings.content.label"
    }
  ]
}
{% endschema %}